fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
PyPDF2
sentence-transformers==2.2.2
faiss-cpu
numpy
google-generativeai
aiofiles
python-dotenv
loguru
huggingface_hub==0.14.1
torch>=1.13.0
transformers>=4.21.0